//TYPOGRAPHY
$main-font-family: 'Roboto', 'Source Sans Pro', helvetica, arial, sans-serif;

$main-weight: 400;
$bold-weight: 500;

// DIMENSIONS
$container-max-width: 1140px;
$container-min-width: 360px;
