// bug fixes and overrides for third party tool

.modalContainer {
  :global(.close) {
    &:focus {
      outline: none;
    }

    & > span {
      vertical-align: middle;
    }
  }
}

.overlay {
  opacity: .75 !important;
}
