@import './reset';
@import './variables';

@import './vendor/mapbox-gl.css';

$primary-color: #dddddd;
$bg: #333333;

$base-font: 16px;

body {
  color: $primary-color;
  background-color: $bg;
  font-size: $base-font;
}
